html,
body {
  font-family: 'Mochiy Pop P One', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gold;
  height: 100px;
}

.navBar_div {
  display: flex;
}

.titleNav {
  font-size: 25px;
  margin-left: 230px;
}

.logo {
  height: 80px;
  margin-left: 10px;
}

.navList {
  display: flex;
  align-items: center;
}

.navList_ul {
  display: flex;
  list-style-type: none;
}

.navList_li {
  margin: 0 20px;
  font-size: 18px;
}

.logoCarrito {
  height: 45px;
  margin-right: 15px;
}

.divCount {
  display: flex;
  margin-top: 50px;
}

.botonIncrementar {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  background-color: greenyellow;
}

.botonDecrementar {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  background-color: red;
}

.botonCarrito {
  height: 30px;
}

.textoCarrito {
  font-size: 20px;
  margin-left: 100px;
}

.count {
  margin-left: 40px;
  margin-right: 40px;
}